html {
    background-color: #D9D0CE;
}

header {
    text-align: center;
    font-size: 150%;
    background-color: #72c2a5;
}

.contentBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#randomizeBtn, #fightBtn, #pastBtn {
    margin: 50px;
}


footer {

}