html {
    background-color: #D9D0CE;
}

#page-header {
    font-family: "New Rocker", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 65px;
}

header {
    text-align: center;
    font-size: 150%;
    background-color: #72c2a5;
}

#textBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-container {
    display: flex;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    font-size: 150%;
    background-color: #72c2a5;
    color: black;
    margin-top: 38%;
    padding: 5px;
}
.contentBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('./assets/castle.png');
    background-attachment: fixed; /* to stay fixed on the screen*/
    background-repeat: no-repeat; /* One image, no repeats*/
    background-size:cover; /* To cover the entire background */
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    }

