html {
    background-color: #D9D0CE;
}

#page-header {
    font-family: "New Rocker", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 65px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 10px 0;
    text-align: center; 
    position: absolute;
    z-index: 1; 
} 

/* Absolute positioning */
.banner {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width of the banner */
    height: auto;
}

header {
    text-align: center;
    font-size: 150%;
    background-color: #72c2a5;
}

#textBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-container {
    display: flex;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    font-size: 150%;
    background-color: #72c2a5;
    color: black;
    /* margin-top: auto;
    padding: 5px;
    min-height: 25vh;
    display: flex;
    flex-direction: column; */
}

.contentBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Move the buttons lower */
    gap: 50px; /* Add space between buttons */
}

.contentBtn button {
    font-size: 18px; 
    padding: 45px 60px; /* Make the buttons bigger */
    border: none;
    border-radius: 8px;
    background-color: #72c2a5; 
    color: black; 
    cursor: pointer; 
}

.contentBtn button:hover {
    background-color: #5a9e82; 
}

body {
    background-image: url('./assets/castle.png');
    background-attachment: fixed; /* to stay fixed on the screen*/
    background-repeat: no-repeat; /* One image, no repeats*/
    background-size:cover; /* To cover the entire background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    }

main {
    flex-grow: 1;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

#leftDog, #rightDog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 300px; 
    padding: 20px; 
    background-color: #72c2a5; 
    color: black; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 150px; 
}

.dog-image {
    max-width: 100%;
    height: auto;
}